.event-card{
    display: flex;
    min-height: 95px;
    align-items: center;
    justify-content: center;
    gap:  10px;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
}

.event-card img{
    width: 150px;
    max-width: 175px;
    max-height: 150px;
}

@media (max-width:500px){
    .event-card img{
        width: 175px;
    }
    .event-card{
        font-size: 15px;
    }
}