.user-bookings-container,
.user-bookings,
.booked-order {
  display: flex;
  flex-direction: column;
}

.user-bookings-container {
  padding: 30px;
  min-height: 90vh;
  gap: 20px;
  width: 100%;
}

.user-bookings {
  gap: 20px;
  width: 80%;
}

.booked-order {
  gap: 10px;
  border: 1px solid gray;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}
