.manage-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 65vw;
}

.products-list-format {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  align-items: center;
 
  gap: 10px;
}

.products-list .header {
  padding: 10px;
  border: 1px solid gray;
}

.product img {
  max-width: 50px;
}

.product {
  border: 1px solid gray;
  padding: 5px;
  width: 100%;
  position: relative;
  min-height: 70px;
}

.product-options{
  display: none;
  flex-direction: column;
  gap: 5px;
  padding: 3px;
  border: 1px solid black;
  width: fit-content;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: white;
  cursor: pointer;
  z-index: 10;
  font-size: 15px;
}

.product-status-container:hover .product-options{
  display: flex;
}


