.shops{
    width: 95vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.shop-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

@media(max-width:650px){
    .shop-cards{
        flex-direction: column;
        align-items: center;
    }
}