.manage-bookings{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bookings .header{
    padding: 10px;
    border: 1px solid gray;
}

.bookings-list{
    width: 90%;
}


.booking-order{
    padding: 15px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.booked-products{
    display: flex;
    gap: 5px;
    overflow-x: scroll;
    
}

.options{
    display: flex;
    gap: 10px;
}

.options .option{
    border: 2px solid gray;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    
}



@media(max-width:475px){
    .bookings{
        width: 50vw;
    }
}