.login-popup-container,.login-popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-popup-container{
    min-height: 100vh;
    

}

.login-popup{
    max-width: 90vw;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

.login-popup .cross-icon{
    position: absolute;
    top: 6px;
    right: 8px;
    width: 15px;
    cursor: pointer;
}

.login-popup .img-upload{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 80%;/* similar to width of the input*/
    margin-bottom: 20px;
}

.img-upload img{
    width: 50px;
}

.login-popup input{
    margin-bottom: 25px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom:1px solid gray ;
    width: 80%;
}

.login-popup p input{
    width: auto;
    margin-right: 5px;
}

.login-popup p{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    
}

.login-popup p span{
    color: blue;
    cursor: pointer;
}


.login-popup button{
    background-color: blue;
    border: none;
    color: white;
    font-weight: 500;
    padding: 7px 10px;
    border-radius: 6px;
}