nav{
    width: 100vw;
    height: 64px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    flex-shrink: 0;
    font-weight: 500;
    color: gray;
    position: relative;
}

.nav-left,.nav-right,.nav-right .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left img{
    width: 150px;  
}

.nav-right{
    gap: 40px;
}

.nav-right img{
    width: 25px;
}

.nav-right .search-container{
    gap: 10px;
}

.nav-right .search-container input{
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px;
    width: max(250px,20vw);
    font-size: 16px;
}

nav button{
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: rgb(12, 111, 193);
    color: white;
}

.login-options{
    position: absolute;
    padding-block: 5px;
    padding-inline: 10px;
    top: 64px;
    right: 0px;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100px;
    gap: 7px;
    border: 1px solid gray;
    font-weight: 400;
    color: black;
    font-size: 15px;
}

.login-options-container{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.login-options-container:hover .login-options{
    display: flex;
}


.log-out{
    color: red;
}

@media (max-width:1050px){
    .nav-left img{
        width: 140px;
    }
    .nav-right{
        gap: 30px;
    }
}


@media (max-width:560px){
    
    .nav-left img{
        width: 90px;
    }
    .nav-right{
        gap: 15px;
    }

    .nav-right img{
        width: 20px;
    }

    .nav-right .search-container input{
        width: 30vw;
    }

    .login-options-container span,.login-options-container button{
        font-size: 13px;
    }
    
}
